﻿@{
    ViewData["Title"] = "Loja Jet";
}

<header class="jumbotron my-4">
    <h1 class="display-3">LOJA JET</h1>
    <p class="lead">Ofertas</p>
    @*<a href="#" class="btn btn-primary btn-lg">Call to action!</a>*@
</header>

<div class="row text-center catalogo">
    <!-- PRODUTOS -->
</div>

@section scripts{
    <script>
        var _home = true;              
    </script>
} 