﻿@{
    ViewData["Title"] = "Sacola";
}


<h1 class="card-title">Sacola</h1>

<div class="pb-4"></div>

<div class="row">
    <div class="col-lg-12">
        <table class="table bg-light" width="100%" border="0">
            <thead class="thead-light">
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody id="tr-itens">               
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td id="td-total" class="font-weight-bold"></td>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
<input type="hidden" value="" id="hfTotal" />
<hr />
<h2>Dados Cliente</h2>
<div class="row">
    <div class="col-lg-4">
        <label>Nome</label><br />
        <input id="txtCliente" type="text" value="" />
    </div>
    <div class="col-lg-4">
        <label>Endereço Completo</label><br />
        <input id="txtEndereco" type="text" value="" />
    </div>
    <div class="col-lg-4">
        <br />
        <button id="btnFinalizar" class="btn btn-dark">Confirma Pedido</button>
    </div>
</div>
<div class="pb-5"></div>

@section scripts{
    <script>
        var _sacola = true;
    </script>
} 